.Profile {
  /*background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  font-size: calc(6px + 2vmin); */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1,
h3 {
  color: white;
}

button {
  border-radius: 10px;
  background: #282c34;
  border: 3px solid #1890ff;
  font-size: 16px;
  padding: 10px 24px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div[type="thegraphs"] {
  display: flex;
  justify-content: center;
}

div[ type="activities"]{
  background-color: #5a7ba7;
  width: 350px;
}

div[ type="activitiesContain"]{
  display: flex;
  flex-direction: column;
  align-items: center;
}

